body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to left, #FFFFFF,#4CBC94); */
   background-color: rgb(226, 226, 226);
}

@font-face {
    font-family: 'RSU_Regular';
    src: url('fonts/RSU_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: url('fonts/QuattrocentoSans-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReemKufi-Regular';
    src: url('ReemKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul,.nav_down {
    font-family: 'RSU_Regular';
 }

.nav_down {
    position: relative;
    z-index: 2;
    width: 100%;
}

.nav_top {
    padding-top:8px !important; 
    padding-bottom:10px !important;
    min-height: 50!important;
}

.topic {
    left: 30px;
    font-size: 1.7em;
    position: relative;
    background: transparent;
    border: none;
    color: rgb(236, 236, 236); 
    font-family: 'QuattrocentoSans-Regular';
}

.btn.btn-primary {
    border: none;
}

ul,.insert {
    font-family: 'RSU_Regular';
 }
 .btn.btn-primary a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .service {
    color: white;
}

/* Start Content */

.layout {
    background: rgb(247, 247, 247);
    text-align: center;
    margin-top: 20px;
    width: 100%;   
    height: 500px;
}

.layout ul {
    list-style: none;
    text-align: center;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    margin-left: 70px;
}

.insert {
    margin-top: 40px;
    margin-left: 180px;
}

.insert input.form-control {
    width: 200px;
    margin-left: 50px; 
    float: left;
}

.age input.form-control {
    width: 120px;
    float: left;
    margin-left: 20px;
}

.choice select {
    height: 37px;
    width: 100%;
    background: none;
    border: none;
    padding: 0 50px 0 20px;
    cursor: pointer;
    text-indent: 5px;
    color: rgb(119, 119, 119);
    border-radius: 6px;
}
  
.sex {
    position: relative;
    background: white;
    border: 1px solid rgb(202, 202, 202);
    height: 38px;
    cursor: pointer;
    margin-left: 460px;
    border-radius: 6px;
}

.type {
    position: relative;
    background: white;
    border: 1px solid rgb(202, 202, 202);
    height: 38px;
    cursor: pointer;
    margin-left: 655px;
    border-radius: 6px;
    margin-top: -38px;
}

.province {
    position: relative;
    background: white;
    border: 1px solid rgb(202, 202, 202);
    height: 38px;
    cursor: pointer;
    margin-left: 920px;
    border-radius: 6px;
    margin-top: -38px;
}

.text1 {
    font-size: 17px;
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(0, 161, 105);
    border-style: bold;
}

.check1 {
    margin-left: 48px;
}

.check2 {
    margin-left: 48px;
}

.box2 {
    margin-top: -17px;
}

.layout hr {
    margin-left: 20px ;
    border-color: rgb(211, 211, 211);
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    text-align: left;
    color: rgb(95, 95, 95);
    margin-top: 12px;
    line-height: 13px;
  }

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgb(226, 226, 226);
  margin-top: -4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(132, 247, 191);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(78, 214, 151);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sort {
    margin-top: -166px;
    margin-right: 810px;
}

.text2 {
    font-size: 20px;
    color: rgb(56, 56, 56);
}

.area {
    background-color: rgb(58, 209, 146);
    width: 140px;
    height: 30px;
    margin-top: -47px;
    margin-left: 440px;
    border-radius: 30px;
}

.text3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: -50px;
    margin-left: -68px;
}

.bank {
    background: rgb(253, 253, 253);
    width: 1010px;
    height: 180px;
    margin-left: 310px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.5px solid rgb(202, 202, 202);
}

.bangkok_logo {
    position: absolute;
    margin-left: -920px;
    margin-top: 20px;
}

.text4 {
    position: absolute;
    font-size: 35px;
    color: rgb(50, 211, 197);
    margin-top: 15px;
    margin-left: 150px;
    font-weight: 550;  
}

.text5 {
    position: absolute;
    color: rgb(126, 126, 126);
    font-size: 20px;
    margin-top: 57px;
    margin-left: 152px;
    border-style: bold;
}

.tap {
    position: absolute;
    margin-left: -792px;
    margin-top: 90px
}

.text6 {
    position: absolute;
    color: rgb(126, 126, 126);
    font-size: 15px;
    margin-top: 125px;
    margin-left: 153px;
}

.text7 {
    position: relative;
    color: rgb(126, 126, 126);
    font-size: 18px;
    margin-top: -162px;
    margin-left: 540px;
    float: left;
}

.text8 {
    position: absolute;
    color: rgb(109, 109, 109);
    font-size: 25px;
    margin-top: 50px;
    margin-left: 540px;
    font-weight: bold;
}

.text9 {
    position: relative;
    color: rgb(126, 126, 126);
    font-size: 18px;
    margin-top: -100px;
    margin-left: 540px;
    float: left;
}

.text10 {
    position: absolute;
    color: rgb(109, 109, 109);
    font-size: 25px;
    margin-top: 113px;
    margin-left: 540px;
    font-weight: bold;
}
.cost{
    position: absolute;
    margin-top: -20px;
    margin-left: 860px;
    background: rgb(255, 255, 255);
    width: 165px;
    height: 80px;
    box-shadow: -4px 3px 10px #4fa77b;
    border-radius: 10px;
}

.text11 {
    position: relative;
    color: rgb(126, 126, 126);
    font-size: 18px;
    margin-top: 8px;

}

.text12 {
    position: relative;
    color: rgb(0, 204, 126);
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
}

.bot1{
    margin-left: -160px;
    margin-top: 50px;
    display: inline-block; 
    overflow: auto;
    position: absolute;
}

.bot2 {
    margin-left: -160px;
    margin-top: 95px;
    display: inline-block; 
    overflow: auto;
    position: absolute;
}

/*End Content*/

.nav_down ul {
    list-style: none;
    background-color: #4e605f;
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: auto;
    width: 100%;
    position: fixed;
}

.nav_down li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    width: 300px;
}

.nav_down a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #506463;
    transition: .3s;
    border-bottom: none;
    text-align: center;
}

.nav_down a:hover {
    background-color: #4CBC94;
}

.nav_down > ul > li {
    text-align: center;
}

.nav_down > ul > li > a {
    padding-left: 0;
}

/* dropdown */

.nav_down li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav_down li:hover ul {
    display: block;
}

.nav_down li ul li{
    display: block;
}
