body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to left, #FFFFFF,#4CBC94); */
   background-color: rgb(226, 226, 226);
}

@font-face {
    font-family: 'RSU_Regular';
    src: url('fonts/RSU_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: url('fonts/QuattrocentoSans-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReemKufi-Regular';
    src: url('ReemKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul,.nav_down {
    font-family: 'RSU_Regular';
 }

.nav_down {
    position: relative;
    z-index: 2;
    width: 100%;
}

.nav_top {
    padding-top:8px !important; 
    padding-bottom:10px !important;
    min-height: 50!important;
}

.topic {
    left: 30px;
    font-size: 1.7em;
    position: relative;
    background: transparent;
    border: none;
    color: rgb(236, 236, 236); 
}

.btn.btn-primary {
    border: none;
}

/* Start Content */

.layout {
    background: rgb(247, 247, 247);
    border-radius: 40px;
    text-align: center;
    margin-top: 50px;
    margin-left: 530px;
    height: 500px;
    width: 500px;   
}

.sub-topic {
    color: rgb(60, 204, 154);
    font-size: 33px;
    margin-top: 40px;
    text-align: center;
    border: none;
    background: transparent;    
}

.layout ul {
    list-style: none;
    text-align: center;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: 13px;
}

.btn.btn-danger {
    border-radius: 30px!important;
    font-family: 'RSU_Regular'; 
    font-size: 18px;
}

.insert {
    margin-top: -8px;
}

.form-control {
    width: 250px;
    margin-left: 125px; 
    margin-top: 13px;
}

.or hr{
    border-style: solid;
    border-width: 0.5px;
    color: rgb(119, 119, 119);      
}

.or {
    margin-left: 80px;
    margin-top: 20px;
}

.text1 {
    margin-top: 4px;
    float: left;
    width: 20%;
    color: rgb(119, 119, 119);
    font-size: 17px;
}

.forget {
    line-height: 4px;
}

.forget a {
    margin-right: -177px;
    font-size: 17px;
    color: rgb(60, 204, 154);
}

.forget:hover a {
    text-decoration: none;
}

.accept {
    display: inline-block;
    border-radius: 20px;
    background-color: #45C773;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    transition: all 0.5s;
    cursor: pointer;
    width: 25%;
    margin-top: 14px;
    border-radius: 30px!important;
    line-height: 13px;
  }

.regis a {
    float: left;
    margin-left: 8px ;
    color: rgb(60, 204, 154);
}

.regis:hover a {
    text-decoration: none;
}

.end {
    margin-left: 172px;
    color: rgb(119, 119, 119);
    line-height: 15px;
    font-size: 17px;
}

/*End Content*/

.nav_down ul {
    list-style: none;
    background-color: #4e605f;
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: auto;
    width: 100%;
    position: fixed;
}

.nav_down li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    width: 300px;
}

.nav_down a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #506463;
    transition: .3s;
    border-bottom: none;
    text-align: center;
}

.nav_down a:hover {
    background-color: #4CBC94;
}

.nav_down > ul > li {
    text-align: center;
}

.nav_down > ul > li > a {
    padding-left: 0;
}

/* dropdown */

.nav_down li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav_down li:hover ul {
    display: block;
}

.nav_down li ul li{
    display: block;
}
