body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to left, #FFFFFF,#4CBC94); */
   background-color: rgb(226, 226, 226);
}

@font-face {
    font-family: 'RSU_Regular';
    src: url('fonts/RSU_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: url('fonts/QuattrocentoSans-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReemKufi-Regular';
    src: url('ReemKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul,.nav_down {
    font-family: 'RSU_Regular';
 }

.nav_down {
    position: relative;
    z-index: 2;
    width: 100%;
}

.nav_top {
    padding-top:8px !important; 
    padding-bottom:10px !important;
    min-height: 50!important;
}

.topic {
    left: 30px;
    font-size: 1.7em;
    position: relative;
    background: transparent;
    border: none;
    color: rgb(236, 236, 236); 
    font-family: 'QuattrocentoSans-Regular';
}

.btn.btn-primary {
    border: none;
}
.btn.btn-primary a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .service {
    color: white;
}
/* Start Content */

.layout {
    background: rgb(247, 247, 247);
    border-radius: 40px;
    text-align: center;
    margin-top: 80px;
    margin-left: 530px;
    height: 405px;
    width: 473px;   
}

.sub-topic {
    color: rgb(60, 204, 154);
    font-size: 33px;
    margin-top: -60px;
    margin-left: -86px;
    border: none;
    width: 100%;
    background: transparent; 
    position: absolute;   
}

.layout input.text1 {
    color: rgb(119, 119, 119);
    font-size: 19px;
    border: none;
    background: transparent;
    text-align: center;
    width: 400px;
    margin-left: -150px;
    margin-top: 15px;
    font-family: 'RSU_Regular'; 
}

.layout ul {
    list-style: none;
    text-align: center;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    position: absolute;
    margin-left: 42px;
}

.block1 input {
    width: 300px;
    margin-left: 45px; 
    margin-top: 8px;
}

.block2 input {
    width: 300px;
    margin-left: 45px; 
    margin-top: 8px;
}

.continued {
    display: inline-block;
    border-radius: 20px;
    background-color: #45C773;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    transition: all 0.5s;
    cursor: pointer;
    width: 30%;
    margin-top: 28px;
    border-radius: 30px!important;
    line-height: 15px;
    margin-left: 40px;
  }

.continued a {
    color: white;
    text-decoration: none;
}

.layout input.text2 {
    color: rgb(168, 0, 0);
    font-size: 13px;
    background: transparent;
    margin-left: -100px;
    width: 100%;
    margin-left: -150px;
    margin-top: 15px;
    font-family: 'RSU_Regular'; 
    border: none;
    text-align: center;
    margin-left: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/*End Content*/

.nav_down ul {
    list-style: none;
    background-color: #4e605f;
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: auto;
    width: 100%;
    position: fixed;
}

.nav_down li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    width: 300px;
}

.nav_down a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #506463;
    transition: .3s;
    border-bottom: none;
    text-align: center;
}

.nav_down a:hover {
    background-color: #4CBC94;
}

.nav_down > ul > li {
    text-align: center;
}

.nav_down > ul > li > a {
    padding-left: 0;
}

/* dropdown */

.nav_down li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav_down li:hover ul {
    display: block;
}

.nav_down li ul li{
    display: block;
}
