body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to left, #FFFFFF,#4CBC94); */
   background-color: rgb(226, 226, 226);
}

@font-face {
    font-family: 'RSU_Regular';
    src: url('fonts/RSU_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: url('fonts/QuattrocentoSans-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReemKufi-Regular';
    src: url('ReemKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul,.nav_down {
    font-family: 'RSU_Regular';
 }

 .nav_down {
    position: relative;
    z-index: 1;
    width: 100%;
}

.nav_top {
    padding-top:8px !important; 
    padding-bottom:10px !important;
    min-height: 50!important;
}

.topic {
    left: 30px;
    font-size: 1.7em;
    position: relative;
    background: transparent;
    border: none;
    color: rgb(236, 236, 236); 
}

.btn.btn-primary {
    border: none;
}
.btn.btn-primary a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .service {
    color: white;
}
/* Start Content */

.layout {
    position: absolute;
    background: linear-gradient(to left, #15A387,#ffffff);  
    width: 100%;
    height: 161px;
    padding:0px;
    margin: 0px;
}

.head {
    margin-left: 50px;
}

.layout img {
    margin-top: -50px;
    margin-left: 300px;
}

.text1 {
    position: absolute;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-top: -115px;
    margin-left: 450px;
    font-weight: 550;  
    font-family: 'RSU_Regular';
    list-style: none;
    text-shadow: 2px 2px 2px rgb(0, 148, 118);
}

.text2 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: -70px;
    margin-left: 453px;
    font-family: 'RSU_Regular';
    list-style: none;
    text-shadow: 2px 2px 2px rgb(0, 148, 118);
}

.text3 {
    position: absolute;
    font-size: 37px;
    color: rgb(0, 133, 106);
    margin-top: -45px;
    margin-left: 450px;
    font-weight: 550;  
    font-family: 'RSU_Regular';
    list-style: none;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.choose{
    margin-top: -65px;
    margin-left: 690px;
    position: absolute;
}

.bg {
    margin-top: -480px;
    margin-left: -800px;
    height: 470px;
    position: relative;
}

.white {
    margin-top: 250px;
    width: 980px;
    margin-left: -400px;
    height: 500px;
}

.top_left {
    margin-left: 600px;
    margin-top: 10px;
    
}

.top_right {
    margin-left: 1020px;
    margin-top: -95px;
}

.text4 {
    margin-top: 25px;
    margin-left: 550px;
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(0, 206, 137);
    background: transparent;
    font-size: 29px;
    font-weight: bold;
}

.text5 {
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(119, 119, 119);
    background: transparent;
    width: 500px;
    font-size: 18px;
    line-height: 30px;    
}

.text6 {
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(119, 119, 119);
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px; 
    height: 100%;
    width: 100%;
    margin-left: 81px;
}

.text7 {
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(119, 119, 119);
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin-left: -100px;
    margin-top: 6px;
}

.text8 {
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(119, 119, 119);
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px; 
    height: 100%;
    width: 100%;
    margin-left: 108px;
}

.bg hr {
    margin-left: 590px;
    margin-top: 40px;
    border: 1px solid #aaaaaa;
}

.text9 {
    margin-top: 25px;
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(121, 121, 121);
    background: transparent;
    font-size: 29px;
    font-weight: bold;
    margin-left: -390px;
    margin-top: 80px;
    position: absolute;
}

.text10 {
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(119, 119, 119);
    background: transparent;
    width: 500px;
    font-size: 22px;
    line-height: 30px; 
    margin-left: 600px;   
    font-weight: bold;
}

.text11 {
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(119, 119, 119);
    background: transparent;
    width: 500px;
    font-size: 18px;
    line-height: 30px;  
    margin-left: 600px;  
}

.mini {
    margin-top: 10px;
}

.down_right {
    margin-top: -60px;
    margin-left: 1045px;
}

.text12 {
    font-family: 'RSU_Regular';
    list-style: none;
    border: none;
    color: rgb(119, 119, 119);
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px; 
    height: 100%;
    width: 100%;
    margin-left: 46px;
}

/*End Content*/

.nav_down ul {
    list-style: none;
    background-color: #4e605f;
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: auto;
    width: 100%;
    position: fixed;
}

.nav_down li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    width: 300px;
}

.nav_down a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #506463;
    transition: .3s;
    border-bottom: none;
    text-align: center;
}

.nav_down a:hover {
    background-color: #4CBC94;
}

.nav_down > ul > li {
    text-align: center;
}

.nav_down > ul > li > a {
    padding-left: 0;
}

/*detail for this page*/

.layout h1 {
    background-color: white;
    height: 500;
    width: 400;
    margin: 0;
    margin-top: 5005;
}

/* dropdown */

.nav_down li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav_down li:hover ul {
    display: block;
}

.nav_down li ul li{
    display: block;
}
